@using TrainTable.DAL.Models
@using TrainTable.UI.Models.Home
@model List<TrainInfo>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Тип</th>
                <th scope="col">Отбытие</th>
                <th scope="col">Прибытие</th>
                <th scope="col">Время в пути</th>
                <th scope="col">Действие</th>
                
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
            var info = Model[i];

            <tr>
                <td>
                    <h4>
                        @info.Name
                    </h4>
                </td>
                <td>
                    <h4>
                        @info.Type
                    </h4>
                </td>
                <td>
                    <h4>
                        @info.DepertureTime
                    </h4>
                    <h5>
                        @info.Departure
                    </h5>

                </td>
                <td>
                    <h4>
                        @info.DestinationTime
                    </h4>
                    <h5>
                        @info.Destination
                    </h5>
                </td>

                <td>
                    <h4>
                        @info.Time
                    </h4>
                </td>
               
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <a class="btn btn-primary btn-block" style="color:white" asp-action="Add" asp-route-id="@info.Id"> Добавить в избранное</a>

                    }
                    else
                    {
                    <a class="btn btn-primary btn-block" style="color:white" data-toggle="modal" data-target="#myModal"> Добавить в избранное</a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ошибка</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h4>
                        Для этого действия необходимо войти или зарегистироваться в системе.
                    </h4>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success" asp-controller="Account" asp-action="Login">Войти</a>
                    <a class="btn btn-success" asp-controller="Account" asp-action="Register">Зарегистироваться</a>
                </div>
            </div>

        </div>
    </div>
